@charset "utf-8";
/* CSS Document */

@font-face {
	font-family:"montserrat-regular";
	src:url("fonts/Montserrat-Regular.ttf");
}

@font-face {
	font-family:"montserrat-black";
	src:url("fonts/Montserrat-Black.ttf");
}

*{
	margin: 0px;
	padding: 0px;
}

body {
	widows: 600px;
	background-color:#EFE891;
	font-family: "Montserrat";
	font-size: 1em;
	margin: 30px
}

h1 {
	color: white;
	font-size: 50px;
}


#cabecera {
	background-color:#8F7044;
	width: auto;
	height: 180px;
}

.primersubtitulo {
	padding-left: 30px;
	color: white;
}

.caja {
	width: auto;
	height: px;
	padding: 30px 30px 10px 30px;
}

ul {
	list-style: circle;
}

.ultimalista {
	list-style: none;
}

a {
	text-decoration: none;
}

a:link {
	color:#000000;
}