@charset "utf-8";
/* CSS Document */

@font-face {
	font-family:"montserrat-regular";
	src:url("fonts/Montserrat-Regular.ttf");
}

@font-face {
	font-family:"montserrat-black";
	src:url("fonts/Montserrat-Black.ttf");
}

*{
	margin: 0px;
	padding: 0px;
}

body {
	background-color:#F4F2DA;
	font-family: "Montserrat";
	font-size: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#cabecera {
	background-color:#362412;
	height: 500px;
	width: 100%;
	display: flex;
	justify-content: center;
	justify-content: space-around;
}

.textoeimagen {
	display: flex;
	max-width: 900px;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.fotodeperfil {
	display: flex;
	align-items: flex-end;

}

.caja {
	color: white;
	font-size: 80px;
	display: flex;
	align-items: flex-start;
}


.sectionuno {
	max-width: 900px;
	padding-left: 30px;
	margin-right: 20px;
	display: flex;
	flex-direction: column;
}

h3 {
	font-size: 40px;
	color:#362412;
}

h4 {
	color:#362412;
}

.a .b .c .d .e {
	display: flex;
	justify-content: space-between;

}

aside {
	width: 300px;
}

.primersubtitulo {
	color: white;
	display: flex;
}


ul {
	list-style: circle;
}

a {
	text-decoration: none;
	color:white;
}

a:link {
	color:white;
}

.footer {
	background-color:#362412;
	color:white;
	height: 150px;
	width: 100%;
	display: flex;
	justify-content: center;
}

.contacto {
	align-self:flex-start;
	align-content: center;
}

.ultimalista {
	list-style: none;
	max-width: 900px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-content: center;
}



