@charset "utf-8";
/* CSS Document */

@font-face {
	font-family:"montserrat-regular";
	src:url("fonts/Montserrat-Regular.ttf");
}

@font-face {
	font-family:"montserrat-black";
	src:url("fonts/Montserrat-Black.ttf");
}

*{
	margin: 0px;
	padding: 0px;
}

body {
	background-color:#F4F2DA;
	font-family: "Montserrat";
	font-size: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sectionuno {
	max-width: 880px;
	padding-left: 30px;
	margin-right: 20px;
}

aside {
	width: 300px;
}

h1 {
	color: white;
	font-size: 50px;
}


#cabecera {
	background-color:#362412;
	height: 180px;
	width: 100%;
	padding: 30px 30px 10px 40px; /*estps paddings están haciendo que se genere un scroll horizontal porque el navegador está calculando el 100% + los paddings, o sea, en mi caso que tengo un monitor de 1920px de ancho, va a calcular 1920+30+40= 2120px en total, lo que no entra en la pantalla. Para arreglarlo, hay que sumar una propiedad más que es box-sizing: border-box; para que contemple el tamaño del padding dentro del 100%*/
}

.primersubtitulo {
	padding-left: 30px;
	color: white;
}

.caja {
	width: auto;
	padding: 30px 30px 10px 30px;
}

ul {
	list-style: circle;
}

a {
	text-decoration: none;
	color:white;
}

a:link {
	color:white;
}

.footer {
	background-color:#362412;
	color:white;
	height: 150px;
	width: 100%;
	display: flex;
	justify-content: center;
}

.ultimalista {
	list-style: none;
	width: 900px; /*recordá que los anchos fijos no son una buena práctica, es preferible que tenga un porcentaje y/o un max-width */
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-content: center;
}

.fla {
	flex-grow: 1;
}

.flb {
	flex-grow: 1;
}

.flc {
	flex-grow: 1;
}

.fld {
	flex-grow: 1;
}

.fle {
	flex-grow: 1;
}


